* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 85%;
}

header {
    margin-top: 25px;
}

#logo h1 {
    font-size: 1.5em;
}

a, a:hover {
    text-decoration: none;
}

#navbar-1 li {
    font-size: 0.7em;
}

#navbar-1 a:hover {
    color: #D2872C;
}

nav h1 {
    color: #D2872C;
    font-size: 2.2em;
    font-weight: 700;
}

nav h1:hover {
    color: #aa6e25;
}

#navbar-1 a {
    color: black;
    font-size: 1.5em;
}

.home {
    margin-top: 30px;
    color: #766F68;
}

.home-img {
    width: 85%;
}

.home-text {
    text-align: center;
    margin-top: 30px;
}

.home-text h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.home-text p {
    font-size: 1em;
    margin-bottom: 25px;
}

.home-text a {
    border-radius: 20px;
    background-color: #D2872C;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 60px;
}

.home-text a:hover {
    background-color: #aa6e25;
    color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
